<div class='row'>
  <div class='col-lg-10'>
    <a href='{{book.storyLink}}' target='_blank'>
      <h1>{{book.title}}</h1>
    </a>
    <h6>{{book.author}}</h6>
  </div>
  <div class='col-lg-2 text-right'>
    <label data-toggle="collapse" [attr.data-target]="'#card-' + index">
      <svg class='toggle-arrow dark-theme' width='40' height='30'>
        <path d='M0 0 L20 30 L40 0'></path>
      </svg>
    </label>
  </div>
</div>
<div class='row'>
  <div id='card-{{index}}' class='col-12 collapse show'>
    <div class='row'>
      <div class='col-12'>
        <div class='row h-100 pb-2'>
          <div class='col-md-2 pb-lg-0 pb-2 text-center' id='picture-col'>
            <img src="{{edition.imageLink}}">
          </div>
          <div class='col-md-10'>
            <div class='row'>
              <div class='col-sm-8'>
                story tags
              </div>
              <div class='col-sm-4'>
                meta tags
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-6'>
                story link
              </div>
              <div class='col-sm-6'>
                store link
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                description
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        entry notes
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        related tree
      </div>
    </div>
  </div>
</div>
