img {
    width: 100px;
    max-height: 155px
}

#no-image {
    width: 100px;
    height: 150px;
    border-color: red;
    border-style: solid;
    text-align: center;
}

h1 {
    font-size: 35px;
    color: #8894a0;
}

.cardRow {
    margin-bottom: 5px;
}

.cardRow.dark-theme {
    background-color: #17171f;
    color: #f5f6f7;
}

.cardRow.light-theme {
    background-color: white;
    color: black;
}
.collapsed > svg {
    transform: rotate(180deg);
}

.toggle-arrow {
    fill: #8894a0;
    margin-top: 3px;
}