<dx-accordion 
  #accordion 
  [dataSource]="listings"
  [collapsible]="true"
  [multiple]="true"
  [animationDuration]="300"
  [selectedItems]="listings">

  <div *dxTemplate="let listing of 'title'">
    <h1>{{listing.title}}</h1>
  </div>

  <div *dxTemplate="let listing of 'item'">
    <div class='container-fluid'>
    <div class='row h-100'>
      <div class='col-lg-2 col-md-2 pb-lg-0 pb-2 text-center' id='picture-col'>
          <div [ngSwitch]="listing.store">
              <div *ngSwitchCase="'Lulu'">
                  <img src="http://static.lulu.com/browse/product_thumbnail.php?productId={{getProductId(listing.storeURL, 'Lulu')}}&resolution=320">
              </div>
              <div *ngSwitchCase="'Amazon'">
                  <img src="http://images.amazon.com/images/P/{{getProductId(listing.storeURL, 'Amazon')}}.01.20MZZZZ.jpg">
              </div>
              <div *ngSwitchDefault>
                  <div id="no-image">
                      <br>
                      <br>
                      NO IMAGE FOUND
                    </div>
              </div>
          </div>
      </div>
      <div class='col-lg-8 col-md-10'>
        <p>{{listing.notes}}</p>
      </div>
      <div class='col-lg-2 col-md-12 d-flex pt-lg-0 pt-1 align-items-center text-center' id='store-col'>
        <div class='text-center w-100'>
            <a href='{{listing.storeURL}}' target='_blank'>{{listing.store}}</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</dx-accordion>