<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <br>
            <dx-switch [value]="true" [onText]='"DARK"' [offText]='"LIGHT"' [width]='"75px"' (onOptionChanged)="onOptionChanged($event)"></dx-switch>
            &nbsp;
            <dx-switch [(value)]="isCard" [onText]='"CARDS"' [offText]='"GRID"' [width]='"75px"'></dx-switch>
            <br>
            <br>
            <div *ngIf="isCard;else isGrid">
                <card></card>
            </div>
            <ng-template #isGrid>
                <grid></grid>
            </ng-template>
        </div>
    </div>
</div>