<h1>{{series.title}}</h1>
<div class='container-fluid'>
  <!-- <div id='cardRow' class='row dark-theme' *ngFor="let edition of editions">
    <div class='col-lg-10'>
      <h1>{{getBook(edition.bookId).title}}</h1>
    </div>
    <div class='col-lg-2'>
      <h1>{{edition.status}}</h1>
    </div>
    <div class='col-12'>
      <div class='row h-100 pb-2'>
        <div class='col-md-2 pb-lg-0 pb-2 text-center' id='picture-col'>
          <img src="{{edition.imageLink}}">
        </div>
        <div class='col-md-10'>
          <div class='row'>
            <div class='col-sm-8'>
              story tags
            </div>
            <div class='col-sm-4'>
              meta tags
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-6'>
              story link
            </div>
            <div class='col-sm-6'>
              store link
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              description
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          entry notes
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          entry notes
        </div>
      </div>
    </div>
  </div> -->
</div>
