<dx-data-grid
    id="gridContainer" 
    [dataSource]="bookListings"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    (onEditorPreparing)="onEditorPreparing($event)">

    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>

    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
    </dxo-pager>

    <dxi-column dataField="title" [hidingPriority]="4" [width]="270" [allowFiltering]="false" [allowSearch]="true" cellTemplate="nameTemplate"></dxi-column>
    <dxi-column dataField="author" [hidingPriority]="3" [width]="270" [allowFiltering]="false" [allowSearch]="true"></dxi-column>
    <dxi-column dataField="rating" [hidingPriority]="1" [width]="65" [allowSearch]="false"></dxi-column>
    <dxi-column dataField="store" [hidingPriority]="2" [width]="70" cellTemplate="storeTemplate" [allowSearch]="false"></dxi-column>
    <dxi-column dataField="notes" [hidingPriority]="0" [allowFiltering]="false" [allowSearch]="true"></dxi-column>
    
    <div *dxTemplate="let column of 'nameTemplate'">
        <div *ngIf="column.data.storyURL == ''; else displayURL">{{column.value}}</div>
        <ng-template #displayURL>
            <a href="{{column.data.storyURL}}" target="_blank">{{column.value}}</a>
        </ng-template>
    </div>

    <div *dxTemplate="let column of 'storeTemplate'">
        <a href="{{column.data.storeURL}}" target="_blank">{{column.value}}</a>
    </div>
</dx-data-grid>